<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>杜比影院 5 月片单</title>
	<meta name="keywords" content="">
	<meta name="description" content="你所需要了解的一切，从这里寻找。">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<meta content="telephone=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="no">
	<script type="text/javascript" src="../scripts/jquery.js"></script>
	<script type="text/javascript" src="../scripts/zepto.js"></script>
	<script type="text/javascript" src="../scripts/touch.js"></script>
	<script type="text/javascript" src="../scripts/fastclick.js"></script>
	<link rel="stylesheet" type="text/css" href="../styles/common.css">
	<script type="text/javascript" src="../scripts/rem.js"></script>
	<script type="text/javascript" src="../scripts/zymedia.js"></script>
	<link rel="stylesheet" type="text/css" href="../styles/zymedia.css">
	<link rel="stylesheet" type="text/css" href="../styles/next.css">
	<script type="text/javascript" src="../scripts/next.js"></script>
	<div id='wx_pic' style='margin:0 auto;display:none;'>
        <img src="../images/weixinicon.jpg">
    </div>
    <style>
        .video{
            background-image: url("../images/n2/nextvideo_2.jpg");
            width: 100%;
            background-size: cover;
        }
        .jincai{
            background-image: url("../images/n1/jincai.jpg");
            width: 100%;
            height: 6.2rem;
            background-size: cover;
        }
    </style>
</head>
<body>
	<div>
		<div class="back"><img src="../images/icon_2.png"></div>
		<div class="btm"><img src="../images/btm.png"></div>
		<div class="nexttop">
			<img src="../images/n2/nextback_2.png" class="nextback">
			<img src="../images/n2/nexttext_2.png" class="nexttext">
		</div>
        <div style="background-color:black; width: 100%;height: 2rem "></div>
		<div class="playvideo">
			<div class="zy_media">
		    	<video class="video" data-config='{"mediaTitle": "亚瑟王:斗兽争霸"}' webkit-playsinline playsinline>
					<source src="../video/nextvideo_2.mp4" type="video/mp4">
					您的浏览器不支持HTML5视频
			   	</video>
			</div>
			<!--<div id="modelView"><img src="../images/video.png"></div>-->
		</div>
        <div class="jincai"></div>
		<!-- <img src="../images/nextimg_2.jpg" class="img100"> -->
		<img src="../images/n2/nextimg2_2.jpg" class="img100">
		<img src="../images/n2/nextimg_4_2.jpg" class="img100 gohome">
	</div>
</body>
<script type="text/javascript" src="../scripts/next.js"></script>
</html>